page-tab-dados-socio {

}

.paragrafo {
    color: white !important; 
}

.apelido {
    color: #f37521 !important; 
}

.botao-clube {
    background-color: #f8a81b !important;
    color: #db1a5d !important;
}