<ion-header>
  <ion-navbar color="rotaract">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{cargo.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="min-height: calc(100% - 70px); margin-bottom: 0px !important;">
    <p style="margin-left: 10px;" *ngIf="cargo.descricao" [innerHtml]="cargo.descricao">
      
    </p>
    <br>
    <h4 style="margin-left: 10px;">Responsabilidades</h4>  
    <ul>
      <li *ngFor="let item of cargo.responsabilidades">
        <p>
          <span [innerHtml]="item"></span>
        </p>
      </li>
    </ul>
  </div>
  <div class="rodape rodape-scroll"></div>
</ion-content>