<ion-header>
  <ion-navbar color="rotaract">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{projeto.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="margin-left: 10px; margin-top: 10px;">
    <h4 *ngIf="projeto.nomeClube">Clube</h4>
    <p *ngIf="projeto.nomeClube" text-wrap>{{projeto.nomeClube}} - {{projeto.numeroDistrito}}</p>  
    
    <h4 *ngIf="projeto.descricao">Descrição</h4>
    <p text-wrap>{{projeto.descricao}}</p>  
    
    <h4 *ngIf="projeto.resumo">Resumo</h4>
    <p text-wrap>{{projeto.resumo}}</p>
    
    <h4 *ngIf="projeto.dataInicio">Inicio</h4>
    <p>{{projeto.dataInicio | date:'dd/MM/yyyy'}}</p>
    
    <h4 *ngIf="projeto.dataFim">Fim</h4>
    <p>{{projeto.dataFim | date:'dd/MM/yyyy'}}</p>
    
    <h4 *ngIf="projeto.dataFinalizacao">Finalização</h4>
    <p>{{projeto.dataFinalizacao | date:'dd/MM/yyyy'}}</p>
    
    <h4 *ngIf="projeto.justificativa">Justificatica</h4>
    <p text-wrap>{{projeto.justificativa}}</p>
    
    <h4 *ngIf="projeto.resultados">Resultados</h4>
    <p text-wrap>{{projeto.resultados}}</p>
    
    <h4 *ngIf="projeto.dificuldade">Dificuldade</h4>
    <p text-wrap>{{projeto.dificuldade}}</p>
    
    <h4 *ngIf="projeto.licoeAprendidas">Lições aprendidas</h4>
    <p text-wrap>{{projeto.licoeAprendidas}}</p>
    
    <h4 *ngIf="projeto.objetivosGerais.length > 0">Objetivos gerais</h4>
    <p text-wrap *ngFor="let item of projeto.objetivosGerais">{{item}}</p>
    
    <h4 *ngIf="projeto.objetivosEspecificos.length > 0">Objetivos especificos</h4>
    <p text-wrap *ngFor="let item of projeto.objetivosEspecificos">{{item}}</p>
    
    <h4 *ngIf="projeto.categoriasPrincipais.length > 0">Categorias principais</h4>
    <p text-wrap *ngFor="let item of projeto.categoriasPrincipais">{{item}}</p>
    
    <h4 *ngIf="projeto.categoriasSecundarias.length > 0">Categorias secundarias</h4>
    <p text-wrap *ngFor="let item of projeto.categoriasSecundarias">{{item}}</p>
    
    <h4 *ngIf="projeto.participantes.length > 0">Participantes</h4>
    <p text-wrap *ngFor="let item of projeto.participantes">{{item}}</p>
    
    <h4 *ngIf="projeto.publicoAlvo.length > 0">Publico alvo</h4>
    <p text-wrap *ngFor="let item of projeto.publicoAlvo">{{item}}</p>
    
    <h4 *ngIf="projeto.meiosDeDivulgacao.length > 0">Meios de divulgação</h4>
    <p text-wrap *ngFor="let item of projeto.meiosDeDivulgacao">{{item}}</p>
    
    <h4 *ngIf="projeto.parcerias.length > 0">Parcerias</h4>
    <p text-wrap *ngFor="let item of projeto.parcerias">{{item}}</p>
    
    <h4 *ngIf="projeto.tarefas.length > 0">Tarefas</h4>
    <p text-wrap *ngFor="let item of projeto.tarefas">
      {{item.data | date:'dd/MM/yyyy'}} - {{item.descricao}}
    </p>
    
    <h4 *ngIf="projeto.lancamentosFinanceiros.length > 0">Finanças</h4>
    <table *ngIf="projeto.lancamentosFinanceiros.length > 0" class="tabela-financas">
      <tr class="cabecalho">
        <td>Data</td>
        <td>Descrição</td>
        <td>Valor</td>
      </tr>
      <tr *ngFor="let item of projeto.lancamentosFinanceiros">
        <td>{{item.data | date:'dd/MM/yyyy'}}</td>
        <td class="tabela-descricao">{{item.descricao}}</td>
        <td *ngIf="item.valor < 0" style="color: red; white-space: nowrap;">
          -R${{item.valor * -1}}
        </td>
        <td style="white-space: nowrap;" *ngIf="item.valor >= 0">
            R${{item.valor}}
          </td>
      </tr>
    </table>
  </div>
  <div *ngIf="projeto.nomeClube" class="rodape rodape-scroll"></div>
</ion-content>
