ion-avatar img  {
    width:100% !important;
    height : 100% !important;
    max-width: 70px !important;  //any size
    max-height: 70px !important; //any size
}

.scroll-content {
    padding-top: 10px;
    padding: 0px !important;
}

.grid {
    padding: 0px !important;
}

.item-md {
    padding-left: 5px !important;
}

ion-label {
    p {
        flex-flow: column;
    }
}