<ion-header>

  <ion-navbar color="rotaract">
    <ion-title *ngIf="evento.nome">{{evento.nome}} - {{evento.dataEvento  | date: 'dd/MM/yyyy'}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="detalhe-agenda">
    <h2 *ngIf="evento.nome">
      {{evento.nome}}
    </h2>    
    <p *ngIf="evento.realizador">Realizador: {{evento.realizador}}</p>
    <p *ngIf="evento.dataEvento">Dia: {{evento.dataEvento | date: 'dd/MM/yyyy'}}</p>
    <p *ngIf="evento.tipoEvento">Tipo: {{evento.tipoEvento}}</p>
    <p *ngIf="evento.programa">Programa: {{evento.programa}}</p>
    <p *ngIf="evento.descricao">Descrição: {{evento.descricao}}</p>
    <p *ngIf="evento.endereco">Endereço: {{evento.endereco}}</p>
    <p *ngIf="!evento.endereco">Endereço: A definir</p>
    <p *ngIf="evento.complemento">Complemento: {{evento.complemento}}</p>
    <div [hidden]="!evento.endereco" #map id="map"></div>
  </div>
  <div class="rodape"></div>
</ion-content>
