<ion-header>
  <ion-navbar color="rotaract">
    <ion-title>{{socio.nome}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src={{socio.foto}}/>
    <ion-card-content>
      <ion-card-title item-center>
        <h2>
            {{socio.nome}} <span *ngIf="socio.apelido" item-left>({{socio.apelido}})</span>
        </h2>
      </ion-card-title>
      <ion-item style="margin-bottom: -14px; margin-left: -5px;" *ngIf="clube.nome">
          <button ion-button round (click)="abrirClube(clube.codigo);">{{clube.nome}}</button>
      </ion-item>
      <ion-item *ngIf="socio.dataNascimento">
        <span item-left>Data de nascimento:</span>
        <span item-left >{{socio.dataNascimento  | date:'dd/MM/yyyy'}}</span>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>Cargos</h2>
    </ion-card-header>
    <ion-card-content>
      <p *ngFor="let cargo of socio.cargos">{{cargo.tipoCargo}} - {{cargo.nome}} - {{cargo.gestaoDe | date:'dd/MM/yyyy' }} ~ {{cargo.gestaoAte | date:'dd/MM/yyyy'}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2>Clubes</h2>
    </ion-card-header>
    <ion-card-content>
      <p *ngFor="let clube of socio.clubes">{{clube.nome}} ({{clube.numeroDistrito}}) - {{clube.posse | date:'dd/MM/yyyy'}} ~ {{clube.desligamento | date:'dd/MM/yyyy'}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <a *ngIf="socio.facebook" href={{socio.facebook}} ion-button clear large>
            <img src="assets/icon/facebook.ico" />
          </a>
        </ion-col>
        <ion-col>
          <a *ngIf="socio.email" href="mailto:{{socio.email}}" ion-button clear large>
            <img src="assets/icon/email.ico" />
          </a>
        </ion-col>
        <ion-col>
            <a *ngIf="socio.instagram" href="mailto:{{socio.instagram}}" ion-button clear large>
              <img src="assets/icon/instagram.ico" />
            </a>
          </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
